[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "==2.1.6"
psycopg2 = "==2.8.2"
djangorestframework = "==3.9.0"
gunicorn = "==19.9.0"
coverage = "==4.5.3"

[requires]
python_version = "3.7"
